@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

main { max-width: 600px; }

h1 { 
  margin-bottom: 15px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.question-container {
  padding: 35px 20px;
  border-radius: 10px;
  background-color: #fff;
}

.question {
  padding-bottom: 20px;
  color: #1363df;
  font-size: 20px;
  font-weight: 700;
}

.choice-container {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  border-radius:  10px;
  border: 1px solid #a149fa;
}

.choice-container.incorrect { 
  background-color: #ff5d5d;
  border: 1px solid transparent;
}
.choice-container.incorrect .choice-text,
.choice-container.correct .choice-text,
.choice-container.incorrect .choice-prefix,
.choice-container.correct .choice-prefix{ 
  color: #fff;
}

.choice-container.correct { 
  background-color: #5fd068;
  border: 1px solid transparent;
}

.choice-container:hover {
  background-color: #ffb562;
  transition: .4s ease-in-out;
  border: 1px solid transparent;
}

.choice-container:last-child{ margin-bottom: 0 ;}

.choice-prefix { flex-basis: 10%; }

.choice-text { 
  flex-basis: 90%; 
  cursor: pointer;
}

/* result page */

.icon {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  text-indent: -9999px; 
}

.icon::after {
  content: "\f091";
  font-family: "fontAwesome";
  font-size: 50px;
  color: #ffb562;
  float: right;
  text-indent: 0;
}

.result-container {
  min-width: 320px;
  padding: 50px 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.result { color: #1363df; }

.result-desc { 
  padding-bottom: 30px;
  color: #1363df;
  font-size: 19px;
}

.result-desc span { 
  font-size: 30px;
  color: #5fd068;
  font-weight: 900;
}

.try-btn {
  padding: 8px 35px;
  color: #1363df;
  border: 1px solid #1363df;
  border-radius: 10px;
}

.try-btn:hover {
  border: 1px solid transparent;
  background-color: #ffb562;
  transition: .4s ease-in-out;
}
/*=================================
  main styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  